
.user_info_properties {
  span {
    display: block;
    font-size: 18px;
    font-family: 'ApexNewMedium';
    margin-top: 10px;
  }
}

.separator{
    width: 100%;
    height: 1px;
    margin-top: 2px;
    background-color: #bc204b;
}