

.ui.cards {
  margin: 0.125em -0.5em;
  
}

.ui.card > .content,
.ui.cards > .card > .content {
  background-color: #fafafa;
  div {
    font-family: "ApexNewMedium" !important;
    color: #5f5f5f !important;
  }
}
