$mobile_width: 700px;
$subtitle_size: 32px;
$left_margin: 25%;
$button_color: #bc204b;
$top_margin: 50px;

.wrapper_properties {
  @media screen and (max-width: $mobile_width) {
    text-align: center;
  }
  picture {
    @media screen and (min-width: $mobile_width) {
      margin-left: $left_margin !important;
    }
  }
  button {
    margin-top: $top_margin !important;
    background-color: $button_color !important;
    color: white !important;
    @media screen and (min-width: $mobile_width) {
      margin-left: $left_margin !important;
    }
    &:hover {
      background-color: white !important;
      color: $button_color !important;
      border: $button_color solid 1px !important;
    }
  }
}
.body_properties {
  margin-left: $left_margin;
  margin-top: $top_margin;

  div {
    margin-top: $top_margin;
    line-height: normal;
    width: 33%;
    @media screen and (max-width: $mobile_width) {
      width: 85%;
      margin-left: -8%;
      text-align: center;
    }
    @media screen and (max-width: 400px) {
      margin-left: -8%;
    }
  }
  .subtitle_properties {
    font-family: "ApexNewMedium";
    font-size: $subtitle_size;
  }
  .paragraph_properties {
    font-size: 18px;
    font-family: "Lato", sans-serif;
  }
}

.front_properties {
  @media screen and (min-width: $mobile_width) {
    margin-left: 29%;
    margin-top: -350px !important;
    position: absolute;
  }
}
