$mobile_width: 700px;
$text_color: white;
$title_size: 42px;
$left_margin: 25%;




.text_container {
    position: absolute;
    width: 100%;
    font-family: "ApexBold";
    color: $text_color;
  }
  .centered {
    font-size: $title_size;
    line-height: normal;
    margin-left: 50%;
    margin-top: 14%;
    transform: translate(-50%, -50%);
    @media screen and (max-width: $mobile_width) {
      text-align: center;
      font-size: 32px;
      margin-top: 62%;
    }
  }
  
  .info_properties {
    margin-left: $left_margin;
    margin-top: 25px;
    font-family: "ApexNew";
    @media screen and (max-width: 400px) {
      margin-top: 3%;
    }
  }
  
  .button_properties {
    width: 200px;
    margin-left: $left_margin !important;
    @media screen and (max-width: 400px) {
      margin-top: -12% !important;
      position: absolute;
    }
  }