$button_color: #bc204b;

.navbar {
  height: 61px;
  width: 100%;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.logo_properties {
  margin-top: 17px;
  margin-left: 25%;
}

.sidebar_logo_properties{
    position: absolute;
    margin-left: 10px;
    margin-top: 14px;
}
.bars_icon{
    margin-top: 19px;
    color: $button_color;
    margin-left: 10px;
    cursor: pointer;
}
.login_button {
  float: right;
  margin-top: 12px !important;
  width: 150px !important;
  margin-right: 25% !important;

  background-color: $button_color !important;
  color: white !important;

  &:hover {
    background-color: white !important;
    color: $button_color !important;
    border: $button_color solid 1px !important;
  }
  @media screen and (max-width: 700px) {
    margin-right: 2% !important;
    width: 100px !important;
  }
}

.logout_button {
  float: right;
  cursor: pointer;
  margin-top: 23px;
  margin-right: 2%;
  color: $button_color;
}
