$sidebar-color: #bc204b;



.sidebar {
  height: 100%;
  width: 300px;
  float: left;
  @media screen and (max-width: 700px) {
    width: 116px;
    .sidebar_element {
    font-size: 14px;
    padding-left: 22%;
    }
  }
  background-color: $sidebar-color;
}

.wrapper{
    height: 100%;
    float: left;
    width: 100%;
}
.icon_position {
  margin-right: 8px;
  margin-left: -21px;
}

.sidebar_element {
  font-family: "ApexNewMedium";
  color: white;
  font-size: 18px;
  padding: 5%;
  padding-left: 10%;
  cursor: pointer;
  &:hover {
    background-color: #91183a;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }
}
