$dark_grey:#707070;
.footer{
    background-color: #EDEFF0;
    width: 100%;
    margin-top: 6%;
    padding-top: 31px;
    padding-left: 8%;
    height: 111px;
    bottom: 0;
    text-align: center;

    span{
        font-family: 'ApexNewMedium';
        color:#707070;
        font-size: 18px;
        margin-right: 5%;
    }
  }
  