$primary_color:#bc204b;

.login_form {
  height: 400px;
  width: 400px;
  border-radius: 0.2rem;
  margin: 0 auto;
  @media screen and (max-width:700px){
    margin-left:6%
  }
}

.img_logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 36px;
}
.error_message{
    width: 100% !important;
}
.form_properties {
  margin-top: 18%;
  div {
    width: 92%;
    margin-bottom: 20px !important;
    label{
        color:$primary_color !important;
    }
  }
  
}

   .continue_button {
    background-color: $primary_color !important;
    color: white !important;
    width:368px;
    margin-bottom: 8px !important;
    &:hover {
      background-color: white !important;
      color: $primary_color !important;
      border: $primary_color solid 1px !important;
    }
  }

