@font-face {
  font-family: "ApexBold";
  src: url("./assets/fonts/ApexNew-V2-Bold.otf");
}

@font-face {
  font-family: "ApexNew";
  src: url("./assets/fonts/ApexNew-Book.otf");
}
@font-face {
  font-family: "ApexNewMedium";
  src: url("./assets/fonts/ApexNew-Medium.otf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
